<html>
  <head></head>
  <body>
    <script type="text/javascript">
      new miniOwm()
        .apiKey('<%= apiKey %>')
        .latitude(43.09978)
        .longitude(-89.35256)
        .exclude('hourly,minutely')
        .imperial()
        .get()
        .then(function(res) {
          console.log(res);
        });
    </script>
  </body>
</html>
